<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{job.title}} - {{company}}</title>
</head>
<body>
    <h3>Job Title :</h3>
    <p>{{job.title}}</p>
    <h4>Location :</h4>
    <p>{{job.location}}</p>
    <h4>Salary :</h4>
    <p>{{job.currency}} {{job.salary}}</p>
    <h4>Responsibilities :</h4>
    <p>{{job.responsibilities}}</p>
    <h4>Requirements :</h4>
    <p>{{job.requirements}}</p>
</body>
</html>